<div class="container-fluid">
  <div class="row">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Historical issues</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
        </div>
      </div>
      <div class="table-responsive">
        <table class="table align-middle">
          <caption>List of Historical Issues</caption>
          <thead>
            <tr class="bg-primary" style="color:white;">
              <th scope="col">#</th>
              <th scope="col">Description</th>
              <th scope="col">Date of creation</th>
              <th scope="col">Affected Solutions</th>
              <th scope="col">ETA for normal operation</th>
              <th scope="col">Closing</th>
              <th scope="col">Solving</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of HistoricalIssues">
              <td><a [routerLink]="['/currentIssues/detailIssue',data.id]">{{data.id}}</a></td>
              <td>{{data.text}}</td>
              <td>{{data.date}}</td>
              <td>{{data.affectedSolutions}}</td>
              <td>{{data.eta}}</td>
              <td>{{data.closing}}</td>
              <td>{{data.solving}}</td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>
