
<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <h1>Empowered logic</h1>
      </div>
    </section>
    <!-- Section: Social media -->
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>Logos
            </h6>
            <p>
              Logos specializes in developing and producing self-service machines, payment solutions, industrial controls as well as backend systems and putting together coherent and innovative solutions.
            </p>
          </div>
          <!-- Grid column -->
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
              <a href="https://www.logos.dk/en/competences/monitoring-and-technical-support/">Technical support</a>
            </p>
            <p>
              <a href="https://www.logos.dk/en/competences/repair/">Repair</a>
            </p>
            <p>
              <a href="https://www.logos.dk/en/careers/">Careers</a>
            </p>
            <p>
              <a href="https://www.logos.dk/en/contact/">Contact</a>
            </p>
            <p>
              <a href="https://www.logos.dk/en/privacy-policy/">Privacy Policy</a>
            </p>
          </div>
          <!-- Grid column -->
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Logos Payment Solutions A/S
            </h6>
            <ul>
              <li>Nærum Hovedgade 6</li>
              <li>2850 Nærum</li>
              <li>Denmark</li>
              <li>VAT DK 26 39 36 47</li>
            </ul>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  </footer>
  <!-- Footer -->
  