
<!-- Page Content -->
<div class="container">

  <!-- issue Heading -->
  <h1 class="my-4">Details Issue
    <small>n°{{id}}</small>
  </h1>

  <!-- data issue Row -->
  <div class="row">

    <div class="col-md-8">
      <img class="img-fluid" src="../../assets/img/details.PNG" alt="image example" style="width:750px; height:500px">
    </div>

    <div class="col-md-4">
      <h3 class="my-3">Issue Description</h3>
      <p>{{issues.text}}/Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
      <h3 class="my-3">Issue Details</h3>
      <ul>
        <li>Date of creation : {{issues.date}}</li>
        <li>Affected Solutions : {{issues.affectedSolutions}}</li>
        <li>ETA : {{issues.eta}}</li>
        <li>Closing : {{issues.closing}}</li>
      </ul>
    </div>

  </div>
  <!-- /.row -->
<ng-container *ngIf="login">
    <!-- Related Action Row -->
  <h3 class="my-4">Action</h3>

  <div class="row" id="action">

    <div class="col-md-3 col-sm-6 mb-4">
      <button type="button" class="btn btn-primary btn-lg btn-block" (click)="openModal(template1)">Change description</button>
    </div>

    <div class="col-md-3 col-sm-6 mb-4">
      <button type="button" class="btn btn-primary btn-lg btn-block" (click)="openModal(template2)">Change affected solution</button>
    </div>

    <div class="col-md-3 col-sm-6 mb-4">
      <button type="button" class="btn btn-primary btn-lg btn-block" (click)="openModal(template3)">Change ETA</button>
    </div>

    <div class="col-md-3 col-sm-6 mb-4">
      <button type="button" class="btn btn-danger btn-lg btn-block" (click)="openModal(template4)">Delete this issue</button>
    </div>

  </div>
</ng-container>
  <!-- /.row -->

</div>
<!-- /.container -->
<ng-template #template1>
  <div class="modal-content rounded-5 shadow">
    <div class="modal-header p-5 pb-4 border-bottom-0">
      <h2 class="fw-bold mb-0">Change description here</h2>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modalRef.hide()"></button>
    </div>

    <div class="modal-body p-5 pt-0">
      <form [formGroup]="inputForm" (ngSubmit)="editTextIssue()">
        <div class="form-floating mb-3">
          <textarea class="form-control" formControlName="input" rows="3"></textarea>
        </div>
        <button class="w-100 mb-2 btn btn-lg rounded-4 btn-primary">save change</button>
      </form>
    </div>
  </div>
</ng-template>

<ng-template #template2>
  <div class="modal-content rounded-5 shadow">
    <div class="modal-header p-5 pb-4 border-bottom-0">
      <h2 class="fw-bold mb-0">change affected solutions here</h2>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modalRef.hide()"></button>
    </div>

    <div class="modal-body p-5 pt-0">
      <form [formGroup]="inputForm" (ngSubmit)="editSolutionIssue()">
        <div class="form-floating mb-3">
          <textarea class="form-control" formControlName="input" rows="3"></textarea>
        </div>
        <button class="w-100 mb-2 btn btn-lg rounded-4 btn-primary">save change</button>
      </form>
    </div>
  </div>
</ng-template>

<ng-template #template3>
  <div class="modal-content rounded-5 shadow">
    <div class="modal-header p-5 pb-4 border-bottom-0">
      <h2 class="fw-bold mb-0">change ETA here</h2>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modalRef.hide()"></button>
    </div>

    <div class="modal-body p-5 pt-0">
      <form [formGroup]="inputForm" (ngSubmit)="editEtaIssue()">
        <div class="form-floating mb-3">
          <input class="form-control" type="datetime-local" id="dateTime" name="date" formControlName="input">
        </div>
        <button class="w-100 mb-2 btn btn-lg rounded-4 btn-primary">save change</button>
      </form>
    </div>
  </div> 
</ng-template>

<ng-template #template4>
  <div class="modal-content rounded-4 shadow">
  <div class="modal-body p-4 text-center">
    <h5 class="mb-0">Remove</h5>
    <p class="mb-0">Are you sure you want to remove this issue ?</p>
  </div>
  <div class="modal-footer flex-nowrap p-0">
    <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0 border-right" (click)="deleteIssue()"><strong>Yes, removed</strong></button>
    <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0" data-bs-dismiss="modal" (click)="modalRef.hide()">Close</button>
  </div>
</div>
</ng-template>