<div class="container-fluid">
    <form [formGroup]="PmForm" (ngSubmit)="save()">
        <div class="form-group">
            <label>Affected Solutions</label>
            <textarea class="form-control" formControlName="AffectedSolutions" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label>Text</label>
            <textarea class="form-control" formControlName="Text" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label>When it scheduled</label>
            <br>
            <input class="form-control" type="datetime-local" id="dateTime" name="date" formControlName="Scheduled">
        </div>
        <div class="form-group">
            <label>Duration</label>
            <br>
            <input class="form-control" type="time" id="dateTime" name="duration" formControlName="duration">
        </div>
        <button class="btn btn-primary">save</button>
    </form>
</div>
