<ng-container *ngIf="!login">
  <div>
    <h1>Planned Maintenance</h1>
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">Text</th>
          <th scope="col">Date of creation</th>
          <th scope="col">Affected Solutions</th>
          <th scope="col">scheduled</th>
        </tr>
      </thead>
      <tbody>
       <tr *ngFor="let data of PlannedMaintenance">
          <td>{{data.text}}</td>
          <td>{{data.dateofCreation}}</td>
          <td>{{data.affectedSolutions}}</td>
          <td>{{data.scheduled}}</td>¨
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>

<ng-container *ngIf="login">
<div>
  <h1>Edit Planned Maintenance</h1>
  <a href="planningMaintenance/formMaintenance" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">add maintenance</a>
    <br> <br>
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Text</th>
        <th scope="col">Date of creation</th>
        <th scope="col">Affected Solutions</th>
        <th scope="col">scheduled</th>
      </tr>
    </thead>
    <tbody>
     <tr *ngFor="let data of PlannedMaintenance">
        <td>{{data.text}}</td>
        <td>{{data.dateofCreation}}</td>
        <td>{{data.affectedSolutions}}</td>
        <td>{{data.scheduled}}</td>
        <td><button type="button" class="btn btn-primary" (click)="openModal(template, data.id)">remove</button></td>
      </tr>
    </tbody>
  </table>
</div>
</ng-container>
<ng-template #template>
  <div class="modal-header">
     <h4 class="modal-title pull-left">Solving</h4>
     <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">×</span>
     </button>
  </div>
  <div class="modal-body">
    Are you sure you want to remove this maintenance ?
    <button type="button" class="btn btn-primary" (click)="remove()">remove</button>
  </div>
  <div class="modal-footer">
     <button type="button" class="btn btn-default" (click)="modalRef.hide()">Close</button>
  </div>
</ng-template>