<main role="main">
  <h2>List of Historical Planned Maintenance</h2>
  <div class="table-responsive">
    <table class="table align-middle">
      <caption>List of Historical Planned Maintenance</caption>
      <thead>
        <tr class="bg-primary" style="color:white;">
          <th scope="col">Text</th>
          <th scope="col">Date of creation</th>
          <th scope="col">Affected Solutions</th>
          <th scope="col">scheduled</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of PlannedMaintenance">
          <td><a [routerLink]="['/planningMaintenance/detailPm', data.id]">{{data.text}}</a></td>
          <td>{{data.dateofCreation}}</td>
          <td>{{data.affectedSolutions}}</td>
          <td>{{data.scheduled}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>