<main role="main">
      <!-- Background image -->
      <section class="background-image">
      <div
      class="img"
      style="
        background-image: url('../../assets/img/LogosHeader.jpg');
        height: 555px;
        margin-top: 58px;
        background-repeat: no-repeat;
      "
    >
    </div>
      </section>
<!-- Background image -->
<!--main text-->
    <section class="hometxt">
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Logos Operation</h1>
    <p class="lead">Here you can find all the current and past issue from Logos and also their maintenance </p>
  </div>
    </section>
  <section class="link">
    <div class="container">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Current Issues</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">{{nbIssue}}<small class="text-muted"> issues</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>all the details</li>
              <li>about the current issues</li>
              <li>sorted by their date</li>
              <li>and alose their ETA</li>
            </ul>
            <a href="currentIssues" class="btn btn-lg btn-block btn-outline-primary" type="button">See current isssues</a>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Historical Issues</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">{{nbHi}} <small class="text-muted"> historical issues</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>all the details </li>
              <li>about the historical issues</li>
              <li>sorted by their date</li>
              <li>and also their solving date</li>
            </ul>
            <a href="historicalIssues" class="btn btn-lg btn-block btn-outline-primary" type="button">See historical isssues</a>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Planned Maintenance</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">{{nbPm}} <small class="text-muted"> maintenances</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>all details about the current</li>
              <li>and future maintenance</li>
              <li>sorted by their date of creation</li>
              <li>and also their scheduled date</li>
            </ul>
            <a href="planningMaintenance" class="btn btn-lg btn-block btn-outline-primary" type="button">See planned maintenance</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
  