
  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar" id="nav">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="currentIssues" type="button" class="btn btn-light">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                Dashboard<span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <button type="button" class="btn btn-light" (click)="TodayIssue(1)">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                ETA : Today
                </button>
            </li>
            <li class="nav-item">
              <button type="button" class="btn btn-light" (click)="TodayIssue(7)">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                ETA : This week
              </button>
            </li>
            <li class="nav-item">
              <button type="button" class="btn btn-light" (click)="TodayIssue(30)">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                ETA : This month
              </button>
            </li>
            <li class="nav-item">
              <button type="button" class="btn btn-light" (click)="All()">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                ETA : All Time
              </button>
            </li>
          </ul>
        </div>
      </nav>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4"><div class="chartjs-size-monitor" style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
          <h1 class="h2">Dashboard Current issues</h1>
          <div class="btn-toolbar mb-2 mb-md-0">
            <ng-container *ngIf="login">
              <a href="currentIssues/formIssue" class="btn btn-sm btn-outline-secondary" role="button">Add Issue</a>
            </ng-container>
          </div>
        </div>


        <canvas baseChart class="my-4 chartjs-render-monitor" id="myChart" width="3076" height="1298" style="display: block; height: 649px; width: 1538px;"
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend">
      </canvas>

        <h2>List of Current issues</h2>
        <div class="table-responsive">
          
          <ng-container *ngIf="login">
            <table class="table align-middle">
              <caption>List of current issuees</caption>
              <thead>
                <tr class="bg-primary" style="color:white;">
                  <th scope="col">Text</th>
                  <th scope="col">Date of creation</th>
                  <th scope="col">Affected Solutions</th>
                  <th scope="col">ETA</th>
                  <th scope="col">Solving</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of currentIssues" class="align-bottom">
                  <td><a [routerLink]="['/currentIssues/detailIssue',data.id]">{{data.text}}</a></td>
                  <td>{{data.date}}</td>
                  <td>{{data.affectedSolutions}}</td>
                  <td>{{data.eta}}</td>
                  <td>
                    <button type="button" class="btn btn-primary" (click)="openModal(template, data.id)">solving</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </ng-container>
          <ng-container *ngIf="!login">
            <table class="table align-middle">
              <caption>List of current issues</caption>
              <thead>
                <tr class="bg-primary" style="color:white;">
                  <th scope="col">Text</th>
                  <th scope="col">Date of creation</th>
                  <th scope="col">Affected Solutions</th>
                  <th scope="col">ETA</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of currentIssues" class="align-bottom">
                  <td><a [routerLink]="['/currentIssues/detailIssue',data.id]">{{data.text}}</a></td>
                  <td>{{data.date}}</td>
                  <td>{{data.affectedSolutions}}</td>
                  <td>{{data.eta}}</td>
                </tr>
              </tbody>
            </table>
          </ng-container>
        </div>
      </main>
    </div>
  </div>

<ng-template #template>
  <div class="modal-header">
     <h4 class="modal-title pull-left">Solving</h4>
     <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">×</span>
     </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="DateForm" (ngSubmit)="solving()">
      <input 
          formControlName="date"
          type="date"
          class="datepicker_input form-control border-2"
          id="datepicker1"
          required
          placeholder="YYYY-MM-DD">
      <br> <br>
      <button class="btn btn-primary">solving</button>
  </form>
  </div>
  <div class="modal-footer">
     <button type="button" class="btn btn-default" (click)="modalRef.hide()">Close</button>
  </div>
</ng-template>

<ng-template #template>
  <mat-toolbar color="primary" class="main-header mat-elevation-z4" [class.hidden]="toggleSearch">
    <button mat-icon-button  (click)="openSearch()">
        <mat-icon>search</mat-icon>
    </button>
  	</mat-toolbar>

<mat-toolbar class="search-block mat-elevation-z4" [class.active]="toggleSearch">
		<mat-toolbar-row style="padding: 0 5px;">
			<button class="search-icon" mat-icon-button disabled>
        <mat-icon>search</mat-icon>
      </button>
      <input class="search-control" type="text" placeholder="Search" [(ngModel)]="searchText" #searchbar>
      <button mat-button mat-icon-button (click)="searchClose()">
        <mat-icon>close</mat-icon>
      </button> 
  </mat-toolbar-row>
  </mat-toolbar>

<!--<mat-list>
	<mat-list-item *ngFor="let data of currentIssues | filter: searchText">
  <div mat-line>{{data.text}}</div>
	</mat-list-item>
  <mat-list-item *ngIf="(currentIssues | filter: searchText).length === 0">
    <mat-icon mat-list-avatar>error</mat-icon>
    <div mat-line>0 results</div>
    <div mat-line>No matching presidents</div>
  </mat-list-item>
</mat-list>
</ng-template>-->