
  <div class="container-fluid">
    <div class="row">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
          <h1 class="h2">Current issues</h1>
          <div class="btn-toolbar mb-2 mb-md-0">
            <ng-container *ngIf="login">
              <a href="currentIssues/formIssue" class="btn btn-sm btn-outline-secondary" role="button">Add Issue</a>
            </ng-container>
          </div>
        </div>
        <div class="table-responsive">
          
          <ng-container *ngIf="login">
            <table class="table align-middle">
              <caption>List of current issuees</caption>
              <thead>
                <tr class="bg-primary" style="color:white;">
                  <th scope="col">#</th>
                  <th scope="col">Description</th>
                  <th scope="col">Date of creation</th>
                  <th scope="col">Affected Solutions</th>
                  <th scope="col">ETA for normal operation</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of currentIssues" class="align-bottom">
                  <td><a [routerLink]="['/currentIssues/detailIssue',data.id]">{{data.id}}</a></td>
                  <td>{{data.text}}</td>
                  <td>{{data.date}}</td>
                  <td>{{data.affectedSolutions}}</td>
                  <td>{{data.eta}}</td>
                  <td>
                    <button type="button" class="btn btn-primary" (click)="openModal(template, data.id)">Resolve</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </ng-container>
          <ng-container *ngIf="!login">
            <table class="table align-middle">
              <caption>List of current issues</caption>
              <thead>
                <tr class="bg-primary" style="color:white;">
                  <th scope="col">#</th>
                  <th scope="col">Description<th>
                  <th scope="col">Date of creation</th>
                  <th scope="col">Affected Solutions</th>
                  <th scope="col">ETA for normal operation</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of currentIssues" class="align-bottom">
                  <td><a [routerLink]="['/currentIssues/detailIssue',data.id]">{{data.id}}</a></td>
                  <td>{{data.text}}</td>
                  <td>{{data.date}}</td>
                  <td>{{data.affectedSolutions}}</td>
                  <td>{{data.eta}}</td>
                </tr>
              </tbody>
            </table>
          </ng-container>
        </div>
    </div>
  </div>

<ng-template #template>
  <div class="modal-header">
     <h4 class="modal-title pull-left">Solving</h4>
     <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">×</span>
     </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="DateForm" (ngSubmit)="solving()">
      <input class="form-control" type="datetime-local" id="dateTime" name="date" formControlName="date">
      <br> <br>
      <button class="btn btn-primary">solving</button>
  </form>
  </div>
  <div class="modal-footer">
     <button type="button" class="btn btn-default" (click)="modalRef.hide()">Close</button>
  </div>
</ng-template>

<ng-template #template>
  <mat-toolbar color="primary" class="main-header mat-elevation-z4" [class.hidden]="toggleSearch">
    <button mat-icon-button  (click)="openSearch()">
        <mat-icon>search</mat-icon>
    </button>
  	</mat-toolbar>

<mat-toolbar class="search-block mat-elevation-z4" [class.active]="toggleSearch">
		<mat-toolbar-row style="padding: 0 5px;">
			<button class="search-icon" mat-icon-button disabled>
        <mat-icon>search</mat-icon>
      </button>
      <input class="search-control" type="text" placeholder="Search" [(ngModel)]="searchText" #searchbar>
      <button mat-button mat-icon-button (click)="searchClose()">
        <mat-icon>close</mat-icon>
      </button> 
  </mat-toolbar-row>
  </mat-toolbar>

<!--<mat-list>
	<mat-list-item *ngFor="let data of currentIssues | filter: searchText">
  <div mat-line>{{data.text}}</div>
	</mat-list-item>
  <mat-list-item *ngIf="(currentIssues | filter: searchText).length === 0">
    <mat-icon mat-list-avatar>error</mat-icon>
    <div mat-line>0 results</div>
    <div mat-line>No matching presidents</div>
  </mat-list-item>
</mat-list>
</ng-template>-->